<!DOCTYPE  HTML>
<html lang="en">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<head>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/main.css">

	</head>
	<body style="padding-top: 70px;">

		<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" style="background: rgba(22,22,22,0.95)">
			<div class="container">
				<a class="navbar-brand" href="#">MAKT</a>
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="nav-collapse collapse bs-navbar-collapse">
					<ul class="nav navbar-nav">
						<li>
							<a href="#">Start</a>
						</li>
						<li class="active">
							<a href="#">Nyheter</a>
						</li>
						<li>
							<a href="#">Om oss</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">

    <?php 
    foreach ($news as $post) {
      $view->setData("post",$post);
      $app->render("news-page.html");
    }
    ?>
    
    <ul class="pager">
      <li class="previous"><a href="#">&larr; Older</a></li>
      <li class="next"><a href="#">Newer &rarr;</a></li>
    </ul>
    </div>
		<script src="./js/jquery.js"></script>
		<script type="text/javascript" src="./js/bootstrap.min.js"></script>
	</body>
</html>
