<!DOCTYPE  HTML>
<html lang="en">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<head>
		<link rel="stylesheet" href="{{ root_uri }}css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ root_uri }}css/main.css">

	</head>
	<body style="padding-top: 70px;">

		{% include './header-template.html' %}
		
		<div class="container">
			{% for newsPost in news %}
				{% set newsPost = newsPost %}
				{% include './news-post.html' %}
			{% endfor %}

			<ul class="pager">
				{% if (page_nbr > 1) %}
				<li class="previous">
					<a href="{{ page_nbr - 1 }}">&larr; Newer</a>
				</li>
				{% else %}
				<li class="previous disabled">
					<a>&larr; Newer</a>
				</li>
				{% endif %}
				
				{% if not(page_nbr > (nbr_of_pages)) %}
				<li class="next">
					<a href="{{page_nbr + 1}}">Older &rarr;</a>
				</li>
				{% else %}
				<li class="next disabled">
					<a>Older &rarr;</a>
				</li>
				{% endif %}
			</ul>
		</div>
		<script src="{{ root_uri }}js/jquery.js"></script>
		<script type="text/javascript" src="{{ root_uri }}js/bootstrap.min.js"></script>
	</body>
</html>
