
  <div class="panel post" style="background-color:#EEE">
			<div class="panel-heading post">
  					<h1><?php echo $post->title; ?></h1>
  					<h1 class="subheader"><small><?php echo $post->subtext; ?></small></h1>
				</div>
				<img src="./img/WP_20130620_007.jpg" class="img-responsive"/>
				<p style="margin-top:0px;">
				<?php echo $post->body; ?> 
        </p>
				<div class="panel-footer post">
					<a href="#" class="pull-right"><?php echo $post->author . " - " . $post->date; ?></a>
				</div>
			</div>

      
